*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: url(./assets/images/shoe-stop.png) no-repeat center center/cover;
    height: 100vh;
}

/*Higglights*/
.cardHighlight {
  min-height: 100%;
}

/*Product Card*/
.sizeAndColorStyling {
  color: grey;
  font-size: .75rem;
}

.cardStyling {
  width: 20rem;
}

.priceStyling {
  font-size: .9rem;

}

/*Product View*/
.productViewImgStyling {

}

.productViewSizeAndColorStyling {
  color: grey;
  font-size: .8rem;

}

.totalAmount{
  font-size: 1.2rem;
  font-weight: bold;
}

/*AppNavbar*/
.navBarContainer {
  width: 100%;
  background-color: #ffcc02;
  opacity: .8;
}

.navBarLinks {
  font-size: 1.2rem !important; 
  font-weight: bold !important;
  color: white !important;
}

/*Home*/


/*Login and Register*/
.loginAndRegisterBg {
  background-color: #F3E99F;
  border-radius: 20px;
  margin-top: 50px;
  padding-bottom: 50px;
}

.typeWriter {
  font-weight: bold;
  padding-top: 8rem;
  font-size: 15rem;
  color: white;
  font-family: 'Staatliches', cursive;

}

/*Product Catalog*/
.productCatalogHeading {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.productCatalogText {
  color: white;
  font-size: 1.2rem;
}

/*Admin Dashboard*/

.adminDashboardHeader {
  color: red;
  font-weight: bold;
  font-size: 2.5rem;
}